<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/assets/root/favicon.ico">
    <title>はくぎょくろう</title>
    <link rel="stylesheet" href="/assets/new-admin/css/http_unpkg.com_spectre.css">
    <link rel="stylesheet" href="/assets/new-admin/css/http_unpkg.com_bytemd_dist_index.css">
    <script src="/assets/new-admin/js/alpine.min.js" defer></script>
    <script src="/assets/new-admin/js/echarts.min.js"></script>
</head>
<body x-data="smoe">
    <div x-init="lineChart($el, data.Views)" style="height: 300px"></div>
    <div class="divider"></div>
    <div class="columns">
        <div class="column">
            <div x-init="histogram($el,data.Pages)" style="height: 250px"></div>
        </div>
        <div class="divider-vert"></div>
        <div class="column">
            <div x-init="histogram($el,data.Referrers)" style="height: 250px"></div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="columns">
        <div class="column">
            <div x-init="histogram($el,data.Browsers)" style="height: 250px"></div>
        </div>
        <div class="divider-vert"></div>
        <div class="column">
            <div x-init="histogram($el,data.OS)" style="height: 250px"></div>
        </div>
        <div class="divider-vert"></div>
        <div class="column">
            <div x-init="histogram($el,data.Devices)" style="height: 250px"></div>
        </div>
    </div>
<script>
    document.addEventListener('alpine:init', () => {
        Alpine.data('smoe', () => ({
            data:JSON.parse(JSON.stringify({{.}})),
            lineChart(el,data) {
                console.log(this.data)
                let myChart = echarts.init(el, null, {
                    renderer: 'svg',
                    useDirtyRect: false
                });
                window.addEventListener('resize', myChart.resize);
                myChart.setOption({
                    title:{text:'浏览量',left:'center'},
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    xAxis: {type: 'category',},
                    yAxis: {type: 'value'},
                    series: [{
                            data: data,
                            type: 'line',
                            smooth: true
                    }],
                    label:{show:true,position:'top'}
                });
            },
            histogram(el,data){
                let sortedData = Object.entries(data)
                    .sort((a, b) => b[1] - a[1])
                    .slice(0, 10);  // 取数量最多的十个条目
                let categories = sortedData.map(item => item[0]);
                let values = sortedData.map(item => item[1]);
                let myChart = echarts.init(el, null, {
                    renderer: 'svg',
                    useDirtyRect: false
                });
                window.addEventListener('resize', myChart.resize);
                myChart.setOption({
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'shadow'
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: {
                        type: 'value',
                        boundaryGap: [0, 0.01]
                    },
                    yAxis: {
                        type: 'category',
                        data: categories.reverse()  // 因为echarts是从下往上显示，所以要reverse一下
                    },
                    series: [
                        {
                            type: 'bar',
                            data: values.reverse()  // 同理，因为echarts是从下往上显示，所以要reverse一下
                        }
                    ]
                });
            },
        }))
    })
</script>
</body>