<footer>

    <form name="comment-form" autocomplete="off" x-bind="comment" method="post">
        <h4>发表评论</h4>
        <div>
            <input type="text"   aria-label="author" name="author" placeholder="昵称*"  maxlength="50" required>
            <input type="email"  aria-label="email"  name="mail"   placeholder="邮箱*"  maxlength="50" required>
            <input type="text"   aria-label="url"    name="url"    placeholder="站点"   maxlength="50">
            <input type="hidden" name="parent" required x-model="comment.parent">
            <input type="hidden" name="cid"    required x-model="comment.cid">
        </div>
        <textarea aria-label="comment" rows="5" name="text" maxlength="1000" placeholder="说点什么..." required></textarea>
        <div>
            <button type="button" x-show="comment.parent !== 0" x-bind="comment.CancelReply">取消回复</button>
            <button type="submit">发表评论</button>
        </div>
    </form>

    <div>
        {{ if ne (len .Comments) 0 }}
            <h2>评论列表</h2>
        {{ end }}
        <ol x-init="$el.remove()">
        {{range .Comments}}
            {{if eq .Parent 0}}</ol><ol>{{end}}
            <li id="{{.Coid}}">
                <header>
                    <img alt="{{.Author}}" src="https://gravatar.loli.net/avatar/{{.MD5Mail}}?s=40&r=G&d=identicon" width="40" height="40">
                    <div>
                        <cite {{if eq .AuthorId 1}}data-author="master"{{end}}>
                            {{if not .Url}}
                                {{.Author}}
                            {{else}}
                                <a href="{{.Url}}" rel="external nofollow">{{.Author}}</a>
                            {{end}}
                        </cite>
                        <time>{{.UnixFormat}}</time>
                    </div>
                    <button x-bind="comment.Reply">回复</button>
                </header>
                <p>{{.Text}}</p>
            </li>
        {{end}}
        </ol>
    </div>
</footer>