{{template "header.template" (index .Contents 0).Title}}
<body>
    <header class="page-header">
        <button class="logo-min" onclick="history.back()" aria-label="返回"></button>
    </header>

    {{with index .Contents 0}}
    <article data-id="{{.Cid}}" class="page">
        <section>
            {{.MD2HTML}}
        </section>
    </article>
    {{end}}

    {{template "footer.template"}}
</body>
