{{template "header.template" (index .Contents 0).Title}}
<body x-data="smoe">
    <article data-id="{{(index .Contents 0).Cid}}">
        <header class="page-header">
            <button class="logo-min" @click="goBack()" aria-label="返回"></button>
        </header>
        {{with index .Contents 0}}
        <section>
            {{.MD2HTML}}
        </section>
        {{end}}
    </article>


    {{template "footer.template"}}
</body>
