{{template "header.template" (index .Contents 0).Title}}
<body x-data="smoe">


<article data-id="{{(index .Contents 0).Cid}}">
    <header class="page-header">
        <button class="logo-min" @click="goBack()"></button>
        <button class="play" title="播放/暂停" x-bind="bgmPlayer.Button">
            <svg viewBox="0 0 50 50">
                <path :d="bgmPlayer.playing?'M0 1 0 49 12 49 12 1Z':'M0 1 0 49 22.5 37 22.5 12Z'" style="transition: all .5s ease;"/>
                <path :d="bgmPlayer.playing?'M35 0 35 50 23 50 23 0Z':'M44 24 44 24 22 37 22 12Z'" style="transition: all .5s ease;"/>
            </svg>
        </button>
        <h3 class="subtitle">{{(index .Contents 0).Title}}</h3>
        <button class="like"  @click="alert('Function need updated')"></button>
        <button class="night" @click="alert('Function need updated')"></button>
    </header>
    {{with index .Contents 0}}
        <h1 class="title">{{.Title}}</h1>
        <div class="post-meta">
            <span>{{.UnixToStr}}</span>
            <span>阅读 <span id="readNum">{{.Views}}</span></span>
            <span>字数 <span id="wordNum">{{.MDCount}}</span></span>
            <span>喜欢 <span class="count likeNum">{{.Likes}}</span></span>
        </div>
        <section>
            {{.MD2HTML}}
        </section>
        <audio preload="auto" src="{{.MusicList}}" x-bind="bgmPlayer"></audio>
    {{end}}
    {{template "comment.template" .}}
</article>
{{template "footer.template"}}
</body>
