<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="/new-admin/css/menu.css" rel="stylesheet">
    <link href="/new-admin/css/iconfont.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bytemd/dist/index.css" />
    <link rel="stylesheet" href="https://unpkg.com/github-markdown-css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>白玉楼</title>
    <script>
        let process = {}
        process.env = {}
        process.env.NODE_ENV = 'production'
    </script>
</head>
<div id="menu-bar">
    <nav class="root">
        <ul >
            <li>
                <a>
                    <i class="iconfont icon-wukongbiaoqing" id="emotion1"></i>
                    <i class="iconfont icon-chenggongbiaoqing" id="emotion2"></i>
                </a>
                <ul class="drop-menu">
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="iconfont icon-shouye"></i>
                    <p class="content">控制台</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="iconfont icon-fenlei"></i>
                    <p class="content">撰写</p>
                </a>
                <ul class="drop-menu">
                    <li><a href="/admin/write-post">撰写文章</a></li>
                    <li><a href="/admin/write-page">创建页面</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="iconfont icon-jilu"></i>
                    <p class="content">管理</p>
                </a>
                <ul class="drop-menu">
                    <li><a href="/admin/manage-posts">文章</a></li>
                    <li><a href="/admin/manage-pages">独立页面</a></li>
                    <li><a href="/admin/manage-comments">评论</a></li>
                </ul>
            </li>
            <li>
                <a href="#">
                    <i class="iconfont icon-shezhi"></i>
                    <p class="content">设置</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="iconfont icon-wode"></i>
                    <p class="content">我的</p>
                </a>
            </li>
        </ul>
    </nav>
</div>

