* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    background-color: #f6f6f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}

.iconfont {
    font-size: 26px !important;
    color: #fff;

}

#menu-bar{
    flex:0 0 6vh;
    z-index: 100;
}

.root {
    width: 60vw;
    height: 3vh;
    background-color: rgb(74, 78, 105);
    border-radius: .5vh;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
    transition: all .2s ease-out;
    /*overflow: hidden;*/
}


.root:hover {
    height: 5vh;
    border-radius: 1vh;
}

/* hover时让文字出现 */
.root:hover>ul>li p {
    display: block;
}

#emotion1,
#emotion2 {
    animation: jitter .3s linear forwards;
}

#emotion2,
.root:hover #emotion1 {
    display: none;
}

.root:hover #emotion2 {
    display: block;
}

.root ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.root ul li {
    list-style: none;
    height: 100%;
    width: 100%;
}

.root li>a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  center;
    height: 100%;
    text-decoration: none;
    /* 禁止用户选中 */
    user-select: none;
}

.root li:hover {
    background-color: #d0d1ff;
    cursor: pointer;
    border-radius: 1vh;
}

.root li:hover i {
    animation: jitter .3s linear forwards;
}

.root li > ul.drop-menu {
    flex: 10;
    display: flex;
    height: auto;
    flex-direction: column;
    text-align: center;
}

.root li > ul.drop-menu li {
    display: none;
}

.root li:hover > ul.drop-menu li {
    height: 100%;
    padding: .7vh;
    display: block;
}

.root .content {
    display: none;
    color: #fff;
    white-space: nowrap;
    transition: all .2s ease-out;
}



#mdedit{
    width: 80vw;
}

#mdedit .bytemd{
    height: calc(100vh - 100px);
}



/* 抖动动画 */
@keyframes jitter {
    0% {
        /* 缩放1.2倍，顺时针旋转10° */
        transform: scale(1.2) rotate(10deg);
    }

    50% {
        transform: scale(0.8) rotate(-10deg);
    }

    0% {
        transform: scale(1.0) rotate(0deg);
    }
}